footer {
    width: 100vw;
    background: var(--panelBlack2);
    display: flex; 
    color: lightgrey; 
    font-size: .9em;
    flex-direction: column;
    align-items: center;
    font-family: poppins, sans-serif;
    padding-top: 40px;
    box-shadow: -2px 0 0 1px #000;
}

.footer-logo,
.footer-desc,
.footer-sitemap,
.footer-contact {
    padding: 20px 40px;
}

#fpage,
#flocation,
#fnumber,
#femail {
    fill: lightgray;
    position: absolute;
    height: 25px;
    translate: -50px -5px;
}

.footer-sitemap ul li,
.footer-contact ul li {
    list-style: none;
    padding-bottom: 25px;
}

.footer-sitemap ul li a {
    color: lightgray;
    text-decoration: none;
    text-align: center;
}

.footer-top {
    border-bottom: lightgray solid 1px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80%;
}

.footer-logo {
    flex-basis: 20%;
    font-size: 3rem;
    font-family: cubano, sans-serif;
}

.footer-desc {
    flex-basis: 40%;
    text-align: justify;
    line-height: 30px;
}

.footer-sitemap {
    flex-basis: 20%;
}

.footer-contact {
    flex-basis: 20%;
    position: relative;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-bottom ul {
    display: flex;
}

.footer-bottom ul li {
    list-style: none;
    padding: 0 10px;
}

#fb,
#shopee,
#lazada,
#maps {
    height: 40px;
    width: 40px;
}

#fb path {
    fill: #4267B2;
}