header {
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom: 1px solid lightgray; */
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    background: var(--panelBlack2);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

header .logo {
    margin-left: 40px;
}

header .logo img {
    height: 40px;
    padding: 20px;
    cursor: pointer;
}

header nav {
    grid-column-start: 4;
    grid-column-end: 6;
    position: absolute;
    right: 0;
}

header nav ul{
    display: flex;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: poppins, sans-serif;
    /* font-size: 1.1rem; */
    padding: 20px;
    line-height: 80px;
    transition: all .3s ease-in-out;
}

header nav ul li a:hover {
    background: linear-gradient(to right, #f97316, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



header .login_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    grid-column-start: 6;
    grid-column-end: 7;
}

header .login_panel a{
    padding: 10px;
    background: white;
    text-decoration: none;
    color: #333;
    font-family: cubano;
    margin: 0 10px;
    box-shadow: 5px 5px 0 #000;
    transition: .3s ease-in-out;
}

header .login_panel .login_btn:hover {
    background: #1877f2;
    color: #fff;
}

header .login_panel .signup_btn:hover {
    background: #36a420;
    color: #fff;
}

header .login_panel .logout_btn:hover {
    background: red;
    color: #fff;
}