.shop-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.shop-container {
    /* background: blue; */
    padding: 100px 0 50px;
    display: grid;
    grid-template-rows: 200px 100px 100px 100px;
    grid-template-columns: 500px 500px;
}

.item {
    background: rgb(255, 74, 74);
    padding: 10px;
    margin: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
    font-family: poppins, sans-serif;
}

.item:hover {
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background: url("../img/all-prod-dark.jpg");
    /* background-position: 100px -50px; */
    background-position: center;
    /* background-size: cover; */
    font-size: 100px;
    background-size: 100%;
    transition: 200ms ease-in-out;
    letter-spacing: -15px;
}


.item2 {
    background: url("../img/bags-with-frame-bg-dark.jpg");
}


.item3 {
    background: url("../img/back-to-back-bg-dark.jpg");
}

.item4 {
    background: url("../img/bandolier-bg-dark.png");
}

.item5 {
    background: url("../img/bags-bg.jpg");
}

.item6 {
    background: url("../img/parts-and-accessories-bg-dark.jpg");
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2, 
.item3,
.item4,
.item5,
.item6 {
    font-size: 20px;
    letter-spacing: 5px;
    transition: 200ms ease-in-out;
    background-position: center;
    background-size: 100%;
}

.item:hover {
    background-size: 105%;
}